/// Sizes for inputs.
/// @type Map
$input-sizes: (
  tiny: 0.6rem,
  small: 0.75rem,
  default: 0.9rem,
  large: 1.25rem,
) !default;

.input, .button {
  // Sizes
  @each $size, $value in map-remove($input-sizes, default) {
    &.#{$size} {
      padding-top: $value;
      padding-bottom: $value;
    }
  }
}